body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFF;
}
p,
h1, 
h2, 
h3 {
    margin: 0;  
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

img {
    display: block;
}

.header-container {
    display: flex;
    align-items: center;
}

/*header*/

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-navegaite {
    display: flex;
    align-items: center;
    gap: 1;
}

.logo {
    color: var(--NAVY-BLUE, #4d5ae5);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17 ;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-right: 76px;
}
.logo-part {
    color: var(--IRIS, #2e2f42);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.54px;
        text-transform: uppercase;

}

.nav-link {
    color: var(--NAVY-BLUE, #2E2F42);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        padding: 24px 0;
 }

.nav-link:hover, .nav-link:focus {
    color:#404bbf;  
        }

.navigaite  {
    display: flex;
    align-items: center;
    padding: 24px 0 24px;
    justify-content: space-between;
    gap: 40px;
    
}
.contact{
    font-style: normal;
    margin-left: auto;
}

 .header-contact {
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.header-contact:hover, .header-contact:focus {
    color: #404bbf;
}

.header-adress {
    display: flex;
    align-items: center;
    gap: 40px;
    }

/*main*/
.heto-section {
    background: var(--NAVY-BLUE, #2E2F42);;
    padding: 188px 0;
    
}

.main-title {
    color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 1.12px;
        max-width: 496px;
        margin: 0 auto;
        
}

.main-btn {
    color: var(--WHITE, #FFF);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        background-color: #4D5AE5;
        border-radius: 4px;
        padding: 16px 32px;
        text-align: center;
        border: none;
        display: block;
        min-width: 169px;
        margin-top: 48px;
        margin-left: 480px;          
     } 
     
 .main-btn:hover, .main-btn:focus {
    background-color: #404BBF;
 }
.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
    overflow: hidden;
}
 
.main-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    max-width: 264px;
    
}

.title-text {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    font-weight: 500;
    margin-bottom: 8px;
}

.advant {
    display: flex;
    gap: 24px;
}

.section-advant {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-advant {
    display: flex;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
    }

.picture {
    background-color: #F4F4FD;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-title-a {
    color: var(--NAVY-BLUE, #2E2F42);
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}
.fon {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.profi {
    display: flex;
    gap: 24px;
}

.name-prof {
    padding: 32px 0;
}
     
.title-text-profi {
    text-align: center;
    font-weight: 500;
    margin-bottom: 8px;
}

.main-text-profi {
    text-align: center;
}

.section-albom {
    background-color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
.bom {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    border-bottom: 1px;
}

.section-title-b {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}
    
.albom {
    background-color: #FFF;
    width: calc((100% - 48px) / 3);
}

.picture-albom {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* footer */
.footer-page {
    background-color: var(--NAVY-BLUE, #2E2F42);
    padding: 100px 0;
    
}

.logo-futer {
    color: var(--NAVY-BLUE, #4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-part-white {
    color: var(--CLOUD, #F4F4FD);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    max-width: 264px;
 }